[2017-05-16 16:01] bwalsh opened #1 "Variant Normalization (genomic location)"
All knowledge bases should complete Feature genomic location.

[2017-05-16 16:02] bwalsh opened #2 "Oncokb code review"
A topic was raised during this week's call regarding the count of evidence records from oncokb.

* Overview
  The database captures evidence using the same API that provision the  [`Actionable Genes`]( http://oncokb.org/#/actionableGenes) pages.

* Harvester Pseudo code
  * Get the list of genes ( currently 476 unique genes )
  * For each gene:
    * Get the clinical variants using `hugoSymbol`

[2017-05-16 16:02] bwalsh opened #3 "Biomarker type normalization"

[2017-05-16 16:03] bwalsh opened #4 "Normalize Evidence Type"
Use Civic?
![image](https://cloud.githubusercontent.com/assets/47808/26115990/7968faf8-3a16-11e7-842a-3009cc07d7fa.png)

[2017-05-16 16:03] bwalsh opened #5 "Normalize Evidence Direction"
![image](https://cloud.githubusercontent.com/assets/47808/26116004/8e9a05c0-3a16-11e7-8128-a0b596a871e0.png)

[2017-05-16 16:05] bwalsh opened #6 "Normalize Clinical Significance"
As a researcher or informatician, in order to search or aggregate evidence that meets a given level, I need all evidence to be tagged with a consistent vocabulary.

Use civic?
![image](https://cloud.githubusercontent.com/assets/47808/26116083/bd098a16-3a16-11e7-978b-542a0a92307b.png)

[2017-05-16 16:05] bwalsh opened #7 "Add 'Cosmic Resistance' knowledgebase"

[2017-05-16 16:05] bwalsh opened #8 "Normalize Drugs"
As a researcher, in order to evaluate evidence from different sources, I need to see a uniform drug name and identifier.

[2017-05-16 16:06] bwalsh opened #9 "Coordinate with Monarch/Phenopackets"

[2017-05-16 16:06] bwalsh opened #10 "API access ( create api access to aggregated data )"

[2017-05-16 16:46] ahwagner opened #11 "PostgreSQL backend?"
@bwalsh, now that we're moving to normalize on a number of concepts, I think it would make sense to transition the backend to SQL. This will require more work up front, but should drastically improve the results.

I'd like to hear your thoughts (and @obigriffith, @malachig, @AAMargolin's) on the subject in this issue.

[2017-05-16 17:40] bwalsh commented on #11
@ahwagner

Thanks for the feedback.

I have to push back a bit on this.  ES was selected because:
* Document store enables conformance with GA4GH document schemas,
* Enables front end "google style" searches,
* Similar architecture to other bio portals we reviewed prior to selection (ICGC, GDC, MyGene.info and MyVariant.info)

Re. normalization, consider the [variant name -> variant normalization]

[2017-05-16 19:04] ahwagner commented on #11
@bwalsh, thanks for the detailed response, this is exactly the sort of discussion I was hoping for.

These points make perfect sense in the context you have framed the problem in. My concern is if--going forward--whether or not we want to have an ES style search. I do like the idea of a "Google style" search interface, but my hope was that it will be context-aware (e.g. "V600E" is shorthand for an

[2017-05-16 19:30] jgoecks commented on #11
@bwalsh @ahwagner This is great discussion, my thoughts:

1. Many modern biomedical data stores use both a relational database as well as a ElasticSearch (ES)/NoSQL database. The relational database is used for normalization, incremental updates, and ensuring referential integrity, and ES/NoSQL is used for flexible and fast searching. As best I know, here's the breakdown of related technologies an

[2017-05-16 20:09] bwalsh commented on #11
Thanks Alex and Jeremy for a good thread.

Just to clarify, an "ES style search" is more or less equivalent to a "Google style search" ( full text & keyword enabled).

Also, to belabor it a bit more, the use of ES is separate from the kibana UI that is in place now.   I'm sure that there will be a number of ideas of how the UI should behave and how it should be implemented.  Kibana is probably onl

[2017-05-16 20:54] ahwagner commented on #11
@jgoecks re: how I think relational will improve results, I'm concerned about where this will go in the future--do we want up-to-the-minute results beacon-style? ES relies on heavy indexing, and doesn't do well with continually updated resources. Perhaps we don't care as much about that, and are willing to accept somewhat stale results (weekly/daily dumps?) in order to get the fuzzy search perform

[2017-05-16 20:57] ahwagner commented on #1
This falls in line with my current work for the paper. You can assign it to me if you like. Would you prefer that I work on a branch as a project collaborator, or off of my own fork?

[2017-05-16 21:48] bwalsh commented on #1
Thanks Alex.
A branch on the project makes the most sense, no? I'll add you as a collaborator.

[2017-05-17 14:57] malachig commented on #11
I have already found this discussion very helpful.

If we go with ES only, I think it will be valuable to have demonstrations of both styles of searching (i.e. "Google like" and more "context aware").

An example of the context aware search could be: (amino acid designation is G12D) AND (gene is KRAS OR NRAS) and (disease is melanoma).

[2017-05-17 17:25] bwalsh commented on #8
###  proposal

[code]

###  behavior

[code]

[2017-05-17 17:30] bwalsh commented on #3
### reference
See https://api.molecularmatch.com/#aboutMutations

[2017-05-17 18:01] jgoecks commented on #8
@bwalsh Could we use http://c.biothings.io/ for normalization? "Drug and Compound API provides simple-to-use REST web services to query/retrieve drug annotation information. It integrates data from multiple resources, including chebi, chembl, drugbank, ginas, ndc, pharmgkb, pubchem, sider, unii, etc." It also includes RxNorm.

[2017-05-17 19:24] bwalsh commented on #8
@jgoecks Can you double check?  The website endpoint seems a bit flakey...
* c.biothings.io/v1/query?q=drugbank.name%3Aasprin  returns no hits.
* c.biothings.io/v1/query?q=drugbank.name%3Acelecoxib took over 30 secs returns a "boatload" of data

The curl interface seems to be stable and performant, if I trim the payload.
I'm a little concerned that neither "asprin" or "Acetylsalicylic Acid" return

[2017-05-18 16:58] jgoecks commented on #8
@bwalsh "Acetylsalicylic acid" worked for me; "aspirin" did not:
http://c.biothings.io/v1/query?q=drugbank.name:Acetylsalicylic%20acid

We should definitely experiment with the best querying approach, but the nice aspect of this store is that it includes results from other databases like SIDER (side effects database), which we'll want in the long run anyways.

[2017-05-18 19:23] mayfielg commented on #8
It seems to be the case that when using the biothings frame on top of ES, at least some of the free text search capabilities of ES is lost.

The following requests correctly grabs the 'aspirin' entry by the 'synonym' entries:
http://c.biothings.io/v1/query?q=chembl.molecule_synonyms.synonyms:aspirin
http://c.biothings.io/v1/query?q=chebi.synonyms:Acetol

Also not convinced that the API is 'flaky,'

[2017-05-18 20:21] bwalsh commented on #8
@jgoecks @mayfielg thanks for the follow up.

The swagger website kept crashing in chrome.

So, all things being equal, I'd query it like this ...
[code]

[2017-05-19 17:21] jgoecks commented on #1
Using the "per variant" CGI data file, I improved normalization of CGI here so that (a) COSMIC lookup is not needed and (b) it is much faster: https://github.com/ohsu-comp-bio/g2p-aggregator/commit/0f3c96ac95d9e543c0bbaa5f0ae5b3397ce0abe4

[2017-05-19 17:23] jgoecks opened #12 "Variant normalization: cannot add documents with non-numeric chromosome"
There are several entries in CGI that are on chromosome X, but currently these cannot be added to ElasticSearch. They fail with a parsing error:

[code]

[2017-05-22 16:17] jgoecks commented on #1
A first-pass on getting OncoKB variant-level information in is done: https://github.com/ohsu-comp-bio/g2p-aggregator/commit/7c71775c6c2e5c7ea50de4a2a89377fe75919e37

[2017-05-22 18:32] bwalsh commented on #8
add command line options ...

[2017-05-24 19:28] kellrott opened #13 "featureIds field?"
Can we populate the feature_ids field with the gene?

[2017-05-24 23:34] jgoecks commented on #13
Is this the right use for the feature_id field?

[2017-05-30 14:43] ahwagner opened #14 "nginx_g2p requires OHSU certificate"
The current docker container for nginx (`nginx_g2p`) requires the use of an OHSU certificate (`/compbio-tls/compbio_ohsu_edu_cert.cer`). While this makes sense for the live version hosted by OHSU, it causes docker-compose to fail for off-site users.

@bwalsh, would you update the image for locale-agnostic instantiation? Or am I missing the way to adjust this for a local instance?

[2017-05-30 16:13] jgoecks commented on #1
JAX is done as well: https://github.com/ohsu-comp-bio/g2p-aggregator/commit/ad73e01024ce647cf10614375947bceedf5d0bc0

A key question is whether we should represent ref/alt using the plus strand only or use strand-specific representation.

[2017-05-30 23:30] jgoecks commented on #3
I added biomarker type for CGI here: https://github.com/ohsu-comp-bio/g2p-aggregator/commit/a42c2892f29ab324fd93212869ba4cfd93df582f

[2017-05-31 16:49] bwalsh commented on #14
@ahwagner  I've updated the v0.3 branch. See [here](https://github.com/ohsu-comp-bio/g2p-aggregator/blob/v0.3/README.md#how-do-i-launch-the-database-bring-up-the-website-etc-).  Let me know if it works for you.

[2017-05-31 16:51] bwalsh commented on #8
@ahwagner Can you add your insights on the drug database you mentioned to this thread?

[2017-05-31 17:26] bwalsh opened #16 "Move pmkb from web scrape to API calls"
Currently, the pmkb data is harvested by screen scraping. See harvester/pmkb.py
Cornell has provided API documentation.  It would be useful to move the code over to using the API.

[code]

api_reference.py
[code]

[2017-05-31 22:29] bwalsh commented on #6
I've created an extract of the values used by the different knowledge bases and the associated evidence counts here:
https://drive.google.com/open?id=1aU2TMU-XsT_xuIRG-R10Q-POBMaLR5XutOQ-TFOZaKM

[2017-05-31 23:39] bwalsh commented on #12
checked in fix to v0.3

[2017-06-02 20:26] dms700 commented on #6
I would recommend projecting this values onto AMP/ASCO/CAP guidelines:
http://jmd.amjpathol.org/cms/attachment/2076216919/2070244456/gr2_lrg.jpg
https://www.ncbi.nlm.nih.gov/pubmed/27993330

[2017-06-03 04:48] jgoecks commented on #6
Also to consider are OncoKB's levels: http://oncokb.org/#/levels

[2017-06-06 16:27] ahwagner commented on #8
Yes! After reviewing Pubchem, ChEMBL, and DrugBank, I feel that ChEMBL is the best tool for normalizing drug concepts. They have 1.7 million molecules in the database, and include large molecules (e.g. biotherapeutics) which are not represented in PubChem compounds.

[2017-06-08 20:05] #12 closed

[2017-06-08 20:14] bwalsh commented on #8
I have a work in progress that includes ChEMBL to the harvesters.

[2017-06-08 20:19] bwalsh commented on #2
From: JJ Gao <jgao@cbio.mskcc.org>
Subject: Re: VICC: Follow up re. oncokb evidence
Date: May 31, 2017 at 11:11:08 AM PDT
To: Brian Walsh <walsbr@ohsu.edu>
Cc: Rishi Nag <rishi@ebi.ac.uk>, "hongxin@cbio.mskcc.org" <hongxin@cbio.mskcc.org>, "Chakravarty, Debyani/Sloan-Kettering Institute" <chakravd@mskcc.org>

ith Levels (level 1-4). There are many genes / variants without
actionable levels but wer

[2017-06-08 20:26] #2 closed

[2017-06-08 20:29] bwalsh opened #19 "import additional oncogenic evidence from oncokb"
We have already imported evidence pmkb & civic that associates location with disease. (no drug)
We should do the same with oncokb

[2017-06-08 22:00] jgoecks commented on #19
We should also import oncogenic evidence for CGI: https://www.cancergenomeinterpreter.org/mutations

[2017-06-20 13:36] bwalsh commented on #16
implemented in v0.3

[2017-06-20 13:36] #16 closed

[2017-06-20 13:36] bwalsh commented on #14
implemented in v0.3

[2017-06-20 13:36] #14 closed

[2017-06-20 13:37] bwalsh commented on #13
closed for now, re-open if conversation needs to continue

[2017-06-20 13:37] #13 closed

[2017-06-20 13:37] bwalsh commented on #8
implemented in v0.3

[2017-06-20 13:37] #8 closed

[2017-06-20 13:38] bwalsh commented on #1
implemented in v0.3

[2017-06-20 13:49] bwalsh opened #20 "Integrate Sage knowledgebase"

[2017-06-20 13:55] bwalsh opened #21 "Use AWS elastic search service for cloud deployment"
deployed using ES 5.3.0.
Elastic, KIbana, and Nginx all deployed on AWS free tier

[2017-06-20 14:45] bwalsh opened #22 "Researcher support"
Support researcher's activities to integrate g2p into:
* python notebooks
* pipelines

[2017-06-20 14:46] bwalsh opened #23 "Publish pipeline & notebook integration cookbook"

[2017-06-20 14:50] bwalsh opened #24 "Add general purpose `tagging` functionality"
An association now support tags[] and dev_tags[] fields.
See harvester\tagger.py and utils\tagger.sh for example usage.

[2017-06-20 14:52] bwalsh commented on #22
We gave integrated the on-campus instance into knight diagnostic labs fusion calling pipeline.   Basic functionality:

[2017-06-20 14:57] bwalsh commented on #21
We currently deploy the ES stack using docker.   This is still supported.  However, for ease of  DevOps and maintenance, we now use the free tier elastic search service from AWS.  For AWS only the nginx component is deployed in docker.

[2017-06-20 14:57] bwalsh commented on #21
//TODO - create PR

[2017-06-20 15:03] bwalsh opened #25 "Update molecular match: API key no longer works?"

[2017-06-20 15:29] bwalsh commented on #8
![image](https://user-images.githubusercontent.com/47808/27341575-83aeb6e6-5592-11e7-9f04-458158c5e8e8.png)
Currently there are 9,868 pieces of ‘completely normalized data’  out of a total dataset of 15,974

[2017-06-20 19:34] jgoecks commented on #22
This is fantastic, I've got something similar for variant allele frequency as well. Let's plan to sync soon.

[2017-06-20 22:36] bwalsh opened #27 "Enable anonymous read-only access for cloud deployment"

[2017-06-27 15:36] bwalsh opened #30 "Review oncokb harvester counts"
currently ~ 300+ evidence items, should be much higher

[2017-06-27 15:36] bwalsh opened #31 "review jax lab gene names"
In jax parsing, the molecular profile field is parsed to lookup variant and add position information to the association.  See [here](https://github.com/ohsu-comp-bio/g2p-aggregator/blob/v0.4/harvester/jax.py#L105-L107)

I believe not all permutations have been accounted for.   For example, in errant cases gene names are parsed as ['over', 'mut', 'inact', 'exp', 'exon19', '+',...]

I believe the mo

[2017-06-27 16:07] bwalsh opened #32 "civic evidence_labels"
Brian, in your slide showing the break down of evidence categories, it looked like CIViC was contributing almost entirely in the “preclinical” category.
CIViC has lots of “case study” and “clinical” entries, but those two bars had nothing from CIViC?

[2017-06-27 18:19] bwalsh commented on #30
Right now, we are only pulling from clinical endpoint.
'http://oncokb.org/api/private/search/variants/clinical?hugoSymbol={}'
Should we be looking at this instead or in addition to?
'http://oncokb.org/api/private/search/variants/biological?hugoSymbol={}'

[2017-06-27 18:28] bwalsh commented on #30
related to #19

[2017-06-27 18:34] grmayfie commented on #1
Oncokb is not complete: only the clinical endpoint is being used, need to grab additional variant information from the biological endpoint.

Related to [#19](https://github.com/ohsu-comp-bio/g2p-aggregator/issues/19) and [#30](https://github.com/ohsu-comp-bio/g2p-aggregator/issues/30).

[2017-06-27 18:44] grmayfie commented on #4
TODO: Need to push up the letter labels associated with this, as desgiend by the VIC group

[2017-06-27 18:46] grmayfie commented on #6
Based on the photo in first comment, this is actually evidence direction, and should be completed barring any complaints. Thoughts?

[2017-06-27 18:46] bwalsh commented on #6
I'll create a visualization showing existing work for review by VICC group.

[2017-06-27 18:47] grmayfie commented on #5
This is not 'evidence direction' as we had discussed. What is this actually referring to?

[2017-06-27 18:48] bwalsh commented on #5
From https://civic.genome.wustl.edu/faq

What is the difference between "Supports a Negative association" and "Does not support a Positive association"?
This can be confusing. We have reserved "Does not support - Positive" for statements that contradict previous statements that are supporting positive associations. For example, they would read "Contrary to the previous study which found this mutat

[2017-06-27 18:50] grmayfie commented on #5
This sounds like clinical significance rather tan evidence direction; perhaps these titles got swapped on accident?

[2017-06-27 18:54] grmayfie commented on #5
I don't think there's anything I've seen in any of the other sources we're pulling from that looks anything like this, and so I don't believe there's anything to normalize on. None of the other sources make 'supporting' or 'not supporting' editorials.

Suggest we kick to the VICC group to see what they want to do with this.

[2017-06-27 18:55] bwalsh commented on #3
Dependency on #1  ;  Will require re-harvest and re-review once variant normalization complete for oncokb.

[2017-06-27 18:56] bwalsh commented on #3
@bwalsh - please review PR

[2017-06-27 19:03] grmayfie commented on #25
Old API key works again now, but some strange behavior.

Any call on any gene name garners all information about all genes. Need feedback from molecularmatch on if this is stable (but glitchy) behavior or a broken issue that needs fixing.

[2017-06-27 19:08] grmayfie commented on #20
OHSU not yet ready-to-work on this integration. Waiting for data access from Sage.

Sage has access to this repo/code and out current database/UI.

[2017-06-27 19:10] grmayfie commented on #23
This is a task to make a wiki for outside people to understand how to use and integrate g2p into their own work.

[2017-06-27 19:12] ahwagner commented on #5
Hi @mayfielg, @bwalsh. Just to clarify, these values are all part of the CIViC evidence type statements. The primary evidence type field is Predictive/Diagnostic/Prognostic, and the evidence direction is supports/does not support. Clinical significance is a third part of the evidence type statement which specifies sensitivity/resistance, positive/negative, good/poor outcome, pathogenic/benign, dep

[2017-06-27 19:30] grmayfie commented on #5
Thanks for the clarification. That chart definitely explains a lot better what's happening with the different CIVIC tags.

I think though that we do still need to have a conversation about what to do with 'supports' vesus 'does not support' at the VICC group level, though, since CIVIC is the only source that differentiates their data that way.

[2017-06-27 20:33] malachig commented on #5
I do think this is worthy of further discussion.  It would be a bit surprising if negative results are not included in any of the other resources. Consider the following (somewhat contrived) scenario:

- Group A conducts a large clinical trial and finds that BRAF V600E +ve melanoma treated with dabrafenib have improved survival compared to mutation -ve patients (p-value = 0.03). The authors conclu

[2017-06-27 22:03] jgoecks commented on #30
I'm not sure about this endpoint, but we should be pulling in oncogenic mutations from all sources, including oncokb.

[2017-06-27 22:08] jgoecks commented on #23
I'm not sure where this goes in the priority list. We should discuss what we anticipate as the most compelling/useful interfaces to g2p. Some potential interfaces include Kibana, an API, a Python client, and "Oncotator-like annotations."

[2017-06-27 22:11] jgoecks commented on #1
If we're going to start hitting biological endpoints—which I assume to mean information about drivers/oncogenic annotations—then we're also missing stuff from CGI as well (https://www.cancergenomeinterpreter.org/mutations). We may be missing stuff from other sources as well.

[2017-07-05 17:56] bwalsh commented on #31
Additional thoughts:
* `gene` needs to be plural `genes`
*  `XXX-YYY` is a fusion not a gene

[code]

[2017-07-06 18:22] bwalsh opened #33 "python notebook (overlaps and other metrics)"
@ahwagner Hi.  During our last call, you showed a notebook that illustrated overlaps and other metrics?  Is it possible to share it? We can either incorporate it as-is or, perhaps we can adapt it into a test. Let me know your thoughts.

[2017-07-06 18:27] ahwagner commented on #33
Hey @bwalsh. I had put this on another branch of the repo, you can find it here: https://github.com/ohsu-comp-bio/g2p-aggregator/blob/analysis/analysis/ES%20Store%20Analysis.ipynb

[2017-07-06 18:35] bwalsh commented on #33
Thanks!

[2017-07-06 18:35] #33 closed, assigned to nobody

[2017-07-06 22:14] jgoecks opened #34 "Capture usage and user activities"
For understanding use of the system and eventually for learning from usage, we should instrument the user interface as much as possible. This includes:

- recording search terms
- recording when and how a user clicks on UI elements to filter results.

[2017-07-07 19:54] jgoecks commented on #33
A couple quick comments before I forget:

- ElasticSearch DSL provides a high-level interface for interacting with ES that's much better than the base ES python client: https://elasticsearch-dsl.readthedocs.io/en/latest/
- UpSet would be a nice way to visualize these and other metrics for intersections among databases: https://github.com/ImSoErgodic/py-upset

[2017-07-12 23:14] jgoecks opened #36 "Tag FDA-approved drugs"
It would be great to tag drugs as FDA approved, perhaps using Orange Book: https://www.accessdata.fda.gov/scripts/cder/ob/

[2017-07-13 02:14] bwalsh commented on #36
Is this a duplicate of the evidence_level normalization in place?
https://docs.google.com/spreadsheets/d/1j9AKdv1k87iO8qH-ujnW3x4VusbGoXDjdb5apUqJsSI/edit#gid=613354436

[2017-07-13 02:18] bwalsh commented on #32
![image](https://user-images.githubusercontent.com/47808/28147585-94222af2-6736-11e7-9476-0fa8fed3a273.png)

![image](https://user-images.githubusercontent.com/47808/28147645-e8587af4-6736-11e7-8cbc-f033c9e4c134.png)

[2017-07-13 02:18] #32 closed, assigned to nobody

[2017-07-13 03:56] jgoecks commented on #36
Not a duplicate: this is about annotating drugs as FDA-approved, not about the evidence-level being an FDA guideline.

[2017-07-13 04:08] bwalsh commented on #31
Previous to this change, we had the following malformed genes.
After the changes, all genes passed the symbol_checker test

[code]

[2017-07-13 04:09] bwalsh commented on #31
@jgoecks @mayfielg Can you comment? ( & close if satisfactory)

[2017-07-13 04:15] #21 closed

[2017-07-13 04:27] bwalsh commented on #3
@mayfielg  can you review?  Perhaps biomarker_type might be extracted from jax & molecularmatch ?

biomarker_type | count_by_biomarker_type | source | count_by_source
-- | -- | -- | --
NA | 6507 | jax | 6507
snp | 3068 | civic | 1550
snp | 3068 | cgi | 1052
snp | 3068 | pmkb | 260
snp | 3068 | oncokb | 206
unspecified | 759 | civic | 357
unspecified | 759 | pmkb | 293
unspecified | 759 | oncokb |

[2017-07-13 18:17] bwalsh commented on #3
I noticed molecular match now has biomarker_type.  I had to modify slightly in order to complete harvest.
Results are below.   Note that molecularmatch reports an array of mutation types.  For now, I've collapsed them into a CSV string.   We should consider if feature.biomarker_type should be feature.biomarker_types `[] an array`

biomarker_type | source.keyword: Descending | Count
-- | -- | --
NA

[2017-07-13 20:02] grmayfie commented on #3
I thought I accounted for the molecularmatch arrays to make singular results. Did you edit that or did something pass me by?

[2017-07-14 16:56] grmayfie commented on #4
Letter labels and corresponding numerical values have been added. 'evidence_label' for letters, corresponding to the VICC group's designations [here](https://docs.google.com/spreadsheets/d/1j9AKdv1k87iO8qH-ujnW3x4VusbGoXDjdb5apUqJsSI/edit#gid=1415903760). 'evidence_level' values are between 1 and 4, and correspond to A-D.

Merged into v0.4

[2017-07-14 17:03] grmayfie commented on #3
Jax has been updated, merged into v0.4. @bwalsh, how does that affect the counts you're seeing?

[2017-07-19 16:33] ahwagner opened #39 "cgi importer requires dictionary for phenotype"
Currently, CGI uses abbreviations that are not recognized by our normalization routines as phenotypes, which leads to high normalization failure rates.

Contact David Tamborero for mappings.

[2017-07-19 16:38] ahwagner opened #40 "normalizer adds drugs improperly for cgi"
For example, CGI has a MUT alteration association for ABL1 in CML that confers resistance to Imatinib. However, our normalizer parses this to be several drugs, including Imatinib (correct), inhibitor (incorrect, and a mismatch to the associated compound ID CID657356, which is named "Diacylglycerol Kinase Inhibitor Ii"), and Clorazepate Dipotassium (incorrect, and not sure why this got added).

[2017-07-31 23:58] bwalsh commented on #40
I think this is resolved.

[code]

is now  mapped to

[code]

@ahwagner  can you confirm?

[2017-08-01 00:01] bwalsh commented on #36
evironmentalContexts now return an `approved_countries` array

[code]

@jgoecks   can you review

[2017-08-01 01:09] ahwagner opened #41 "sources have inconsistent structures for associations"
Two differences observed so far using the following code:

[code]

`double_listed_refs` are `jax`, `oncokb`, and `pmkb`. `single_listed_refs` are `cgi` and `civic`. `single_evidence` is `civic`, the others are all `listed_evidence`. I'm handling these inconsistencies with transformations in my analysis, but it would be good to unify them under `single_listed` and `listed_evidence`.

[2017-08-01 01:14] ahwagner commented on #41
also, I should mention that `res` is defined in the python notebook I extracted the above from:

[code]

[2017-08-01 03:19] ahwagner commented on #41
Similarly, CIViC has their `['_source']['association']['publication_url']` field as a singular entry, whereas all other resources have that field set to a list.

[2017-08-01 13:55] ahwagner opened #43 "importer fails"
There's an issue with the normalization routines that causes them to fail on importing some data. From the run log:

[code]

[2017-08-01 14:58] ahwagner commented on #40
Unfortunately, I cannot confirm. Running the importer fails for me, see #43.

[2017-08-01 15:04] bwalsh commented on #43
Thanks Alex.  Do you have any indication what source (civic,cgi,...) this happened on?
@ahwagner

[2017-08-01 15:05] bwalsh commented on #41
Thanks.   I'm on it today...
I'll also merge in your analytics notebook and run it as part of a test to avoid this happening again.
@ahwagner

[2017-08-01 15:08] ahwagner commented on #43
It happened very early in the run, on `cgi`, though it may not be source-specific, as it was the first source evaluated. Full log here:

[code]

[2017-08-01 18:38] bwalsh commented on #43
commit 66d06a361f00a3c5ae761503324ea9381ba97ed0  'improved error handling' should addresses this

@ahwagner  can you confirm?

[2017-08-01 18:41] bwalsh commented on #41
https://github.com/ga4gh/ga4gh-schemas/blob/master/src/main/proto/ga4gh/genotype_phenotype.proto#L143-L145

shows that evidence should be a list

[2017-08-01 19:05] ahwagner commented on #41
Yeah, I agree that it should be. I think the associations we create for CIViC are the only place where evidence is not in a list.

[2017-08-01 19:34] bwalsh commented on #41
[code]

corrected in commit cfaefe5d75400227158c2b99f772702ea747b2fa
    `correct cardinality of publications`

[2017-08-01 19:35] bwalsh commented on #41
@ahwagner can you confirm?

[2017-08-01 19:53] bwalsh commented on #39
We are having trouble match the following `Primary Tumor type` values in the disease ontology.

For example, should entries separated by semi-colons (ex: `Liposarcoma;Lymphoma;Any cancer type`) be read as (Liposarcoma OR Lymphoma OR Any cancer type) ?

association.phenotype.description.keyword:   Descending | Count
-- | --
Any cancer type | 142
Non-small cell lung | 66
Gastrointestinal stromal | 6

[2017-08-01 20:53] DavidTamborero commented on #39
yes, tumor types separated by ';' means that the corresponding biomarker works equally (same effect, level of evidence,etc) for each of these tumors

[2017-08-02 16:18] ahwagner commented on #43
Looks good!

[2017-08-02 16:18] #43 closed, assigned to nobody

[2017-08-02 16:40] ahwagner commented on #30
I spoke with Debyani about the data at OncoKB, and we'll want to retrieve both actionable and annotated variants for our purposes. Looking at the available endpoints, the `/utils/allActionableVariants` and `/utils/allAnnotatedVariants` endpoints seem to contain the information we need, and we would process the response from the latter without an evidence level.

[2017-08-02 20:22] ahwagner commented on #41
Nice, this fixes it. Thanks @bwalsh.

[2017-08-02 20:22] #41 closed, assigned to nobody

[2017-08-02 21:18] ahwagner commented on #40
Yeah, this claim looks better! Overall, we're successfully normalizing drugs for ~91% of harvested CGI claims.

[2017-08-02 21:18] #40 closed, assigned to nobody

[2017-08-02 22:08] #11 closed

[2017-08-03 21:23] #4 closed

[2017-08-03 21:29] #25 closed

[2017-08-03 21:29] #6 closed

[2017-08-03 22:15] jgoecks commented on #30
@ahwagner Do we really want the annotated variants in the database? The only information associated with these variants is is `Neutral\Likely Neutral\Likely Oncogenic\Oncogenic` and `Loss/Gain of Function`— this phenotypic information is very different than drug associations.

[2017-08-03 22:16] bwalsh opened #44 "Support IE"

[2017-08-03 22:35] ahwagner commented on #30
Yes, I agree that these data would not fit into many of the analyses we are doing. These certainly aren't evidence items with drug information, and the phenotype wouldn't be a disease exactly. However, if we had no other information on a variant (a clinical interpretation or disease context), wouldn't it still be nice to know if it were oncogenic?

We are including variants that are prognostic, di

[2017-08-03 23:24] bwalsh opened #45 "fix duplicates caused by splitting features"
Re. duplicates  - here is a quick dashboard to show them. https://dms-dev.compbio.ohsu.edu/kibana/app/kibana#/dashboard/7a678fb0-789f-11e7-81e2-c5c499f34804

[4:23]
AFAIK, they seem to be a side effect of taking a single entry from the source and splitting it up into different associations.   The most egregious example is: `ABL1 (I242T,M244V,K247R,L248V,G250E,G250R,Q252R,Q252H,Y253F,Y253H,E255K,E2

[2017-08-04 14:28] obigriffith commented on #30
Yeah. I tend to agree that we should pull these variants in, just to comprehensively represent oncoKB. But variants of biological significance only should be considered as a lower priority and a separate from those of clinical significance. This kind of association is something we also want to add to CIViC so in the future we would also be able to intersect between knowledgebases on biological fun

[2017-08-04 14:58] ahwagner commented on #30
This seems like a good opportunity to consider tagging harvested variants by type (i.e. 'Predictive', 'Prognostic', 'Diagnostic', 'Predisposing', 'Biological Function'), to help delineate these types of entities. It would also enable us to pull in other resources down the road that have relevant variant-phenotype associations that aren't clinical interpretations.

[2017-08-04 15:08] malachig commented on #30
I think we should try to include these.  As ahwagner says, we are already pulling in other categories from CIViC.

Looking at this page in OncoKB:
http://oncokb.org/#/actionableGenes

I see 91+94+71+64 = 320 variants with disease, drugs, and evidence associated.  From that the current yield of ~300 sounds reasonably.

However, note that there are several cases where the "variant" in OncoKB is "Onc

[2017-08-07 14:52] ahwagner commented on #19
I see this as "in progress" in v0.4. Who is working on this issue?

[2017-08-07 18:48] grmayfie commented on #19
There are sort of two parts to this issue, importing oncogenic evidence from oncokb and importing from CGI.

I was working on the import from oncokb a few weeks ago, but the work was halted due to some confusion as to whether or not it really needed to be done, such as brought up in issue 30. To my knowledge, no effort has occurred at all on the CGI front part.

@jgoecks, do I have official say-so

[2017-08-08 00:03] jgoecks commented on #19
@mayfielg Yes, please move forward with importing oncogenic mutations from all available sources into the database based on the conversation in #30.

[2017-08-22 20:07] bwalsh opened #47 "Simple python client, see python_client branch"
Move files (if necessary)

[2017-08-22 20:10] bwalsh commented on #47
annotate-variants.py (≈ - takes a file, looks for gene_name, then annotates on number of hits - valuable? include? )
g2p-client.py ( query by gene, by variant ) coverts from hits to dataframe

[2017-08-22 20:24] bwalsh commented on #45
JG: I think those are variant/amino acid changes are should be separate entries.
BW: Caused by data correctly separated into different evidence due to separate  features.
TODO - address in a to-be-defined UI requirements

[2017-08-22 23:39] #45 closed, assigned to nobody

[2017-08-22 23:39] #36 closed, assigned to nobody

[2017-08-23 00:01] bwalsh opened #48 "Disease normalization"
@ahwagner

Alex

Hi.  I was hoping you might have some insight into an alias or lookup table we can use to get around this issue.

Out of the 14,780 evidence items, we have 5,111 with no matched phenotype.
Out of those 5111 items, these 32 items have more than 10 entries each for a total of 4635.

Do you have any insight into what alias we might use for these items?

Thanks,

--

phenotype | Count

[2017-08-24 00:00] bwalsh commented on #48
@ahwagner @jgoecks  @mayfielg : FYI, please comment.

Before alias change:  5,111 phenotypes without DOID ontology id
After alias change:  196  phenotypes without DOID ontology id

## Alias table

name | alias
-- | --
ACC | Adrenocortical Carcinoma
Advanced Solid Tumor | Cancer
ALL | Acute Lymphoblastic Leukemia
All Solid Tumors | Cancer
All Tumors | Cancer
AML | Acute   Myeloid Leukemia
Any cance

[2017-08-30 19:12] grmayfie commented on #48
Brian, which branch is in this work in so I can run it and look into it?

[2017-08-30 20:57] bwalsh commented on #48
https://github.com/ohsu-comp-bio/g2p-aggregator/commit/7eae27e77f0047334ede2da4f275cc137c7898f1

[2017-09-01 17:58] #20 closed

[2017-09-01 17:59] bwalsh commented on #39
conversation continues https://github.com/ohsu-comp-bio/g2p-aggregator/issues/48

[2017-09-01 17:59] #39 closed, assigned to nobody

[2017-09-01 18:01] bwalsh commented on #47
v0.5 is up to date with all commits from python_client.

[2017-09-01 18:01] #47 closed, assigned to nobody

[2017-09-01 18:02] bwalsh commented on #31
no comments, assume ok

[2017-09-01 18:02] #31 closed, assigned to nobody

[2017-09-06 20:41] grmayfie commented on #44
Recurring Issue: [$rootScope:infdig] 10 $digest() iterations reached. Aborting!
Watchers fired in the last 5 iterations: []
http://errors.angularjs.org/1.4.7/$rootScope/infdig?p0=10&p1=%5B%5D

According to the github kibana issues, this should be resolved in Kibana 5.5.2. Pushed up a branch moving to that version.

[2017-09-19 22:13] bwalsh commented on #48
closing based on call this AM.  re-open if necessary

[2017-09-19 22:13] #48 closed, assigned to nobody

[2017-09-19 22:14] bwalsh commented on #30
should this issue be closed based on GM's oncokb import?

[2017-09-19 22:15] bwalsh commented on #19
should this be closed based on GM's oncokb import?

[2017-09-19 22:19] bwalsh opened #55 "harmonize location information?"
## Problem statement:

How to `harmonize` location information?
i.e:
For those entries without genomic location specifics, is it possible to retrieve appropriate fields and append them to the evidence record?

## Worked example

#### Evidence without location information
original from source :
https://civic.genome.wustl.edu/events/genes/58/summary/variants/1970/summary#variant

in g2p:
https://g2p

[2017-09-19 22:20] bwalsh commented on #55
@mayfielg @jgoecks @ahwagner Can you take a look and comment?

[2017-09-20 00:03] jgoecks commented on #55
1. We're currently using COSMIC for variant normalization. Using other sources instead of/in addition would be fine as well. COSMIC seemed simple and comprehensive at the time. My suggestion is mygene.info and myvariant.info The key is often being able to search by HGVS protein change + gene and find genomic location.
2. This variant is in COSMIC, so it's a bug that we're not normalizing it. The i

[2017-09-20 16:55] jgoecks commented on #55
Shirley Li of MolecularMatch pointed out TransVar (https://bitbucket.org/wanding/transvar), which looks like it may meet our needs as well.

[2017-09-20 18:47] malachig commented on #55
Relevant resources for variant identities/aliases that were mentioned on the call:

Allele Registry
TransVar
MyVariantInfo
ClinVar
Cosmic

We use all of these in CIViC.

[2017-09-20 19:34] bwalsh commented on #55
I've added genomic location information to the [unharmonized dashboard](https://g2p-ohsu.ddns.net/_plugin/kibana/app/kibana#/dashboard/add55570-99b1-11e7-826d-6704cb1b1e4d)
Where:
*  `unharmonized-features` == `NOT _exists_:features.start`
* `unharmonized-biomarker_type` == `NOT _exists_:features.biomarker_type`
Both tables filter the associations detail below so you can see the raw data

[2017-09-20 19:47] jgoecks commented on #55
Thanks. Quick look at the dashboard says we're closer than we think:

- there are ~6500 unique entries that are not normalized
- it appears that we're not yet normalizing oncokb biological variants, which I estimate to be 50-60% of unnormalized entries
- many are fusions/oncogenic mutations/CNVs that we should not be counting as unnormalized or should be normalizing via gene coordinates

So we sho

[2017-09-25 19:25] grmayfie commented on #55
Hello all,

I've been looking into the oncokb portion of this issue, to normalize the genomic location of the biologic variants, and I've come across a separate apparent issue.

When I harvest locally and look at the 'feature' field, I have `chrom`, `start`, etc. in several documents where they're missing on dms-dev and on `g2p-ohsu.ddns.net`.

For example, at `dms-dev.compbio.ohsu.edu`, PIK3CA N3

[2017-09-25 19:54] grmayfie commented on #30
@bwalsh I think definitely so, yes. Other thoughts, anyone?

[2017-09-25 19:56] grmayfie commented on #19
@bwalsh Bringing in additional CGI variants was also brought up in this issue. I think we should wither leave it open until that task is handled, or close it and create a new issue for CGI additional variants specifically. I have no real preference on either option, just don't want to lose that task. Which would you prefer?

[2017-09-25 20:06] bwalsh commented on #19
@mayfielg  I would close it and create a new task for CGI.

[2017-09-25 20:33] grmayfie commented on #44
@bwalsh

I think this is close-able too.

[2017-09-25 20:35] grmayfie opened #56 "Import CGI oncogenic evidence"
This is an extension of the biologic/ongenic updatesmade to the oncokb harvester. We wish to log oncogenic info from CGI as well.

https://www.cancergenomeinterpreter.org/mutations

[2017-09-25 20:35] #19 closed

[2017-09-25 20:35] #30 closed, assigned to nobody

[2017-09-25 20:35] #44 closed, assigned to nobody

[2017-09-25 21:20] bwalsh commented on #55
@mayfielg : thanks.  I've updated everything.json in v0.5 to include the unharmonized evidence dashboard.

On the issue above, both databases are the same, a fresh re-harvest of all sources.

A quick query shows same results on local & deployed servers.     `Perhaps it is the difference between oncokb and molecularmatch`

## PIK3CA AND N345I AND source:oncokb

![image](https://user-images.githubus

[2017-09-25 21:31] grmayfie commented on #55
No, I don't think it has to do with oncokb vs molecularmatch.

This is what I'm looking at on my local machine.

<img width="1176" alt="screen shot 2017-09-25 at 2 30 19 pm" src="https://user-images.githubusercontent.com/16827611/30831944-34727c3a-a1fe-11e7-9aaf-20d4e6e26a96.png">

[2017-09-25 21:58] bwalsh commented on #55
Perhaps it is the underlying tsv?

[code]

[2017-09-25 23:38] grmayfie commented on #55
My file of that type is `oncokb_all_actionable_variants_20170621.tsv`.

So, yes it's possible that there's something funny going on there with different file versions. However, I don't think that's the heart of this issue.

When I pull down the newest from v0.5 and refresh everything (not using a backup, etc.), I get this:

![screen shot 2017-09-25 at 4 34 30 pm](https://user-images.githubusercont

[2017-09-27 00:40] bwalsh commented on #55
I found the issue, after re-creating `cosmic_lookup_table.tsv`  the oncokb number improved ~ 43%.  I have published this on g2p-ohsu.ddns.net

One curiosity remains.  The `jax` source uses the same cosmic lookup, but the number remains unchanged? @mayfielg can you take a look?

#### Unharmonized   Counts (NOT _exists_:features.start)

source | v0.5_Count | v0.5-9-26_Count | Delta
-- | -- | -- | --

[2017-09-27 00:46] bwalsh opened #57 "harvest jax clinical trials"
Jackson lab has published a [clinical trials api](https://ckb.jax.org/ckb-api/api/v1/clinicalTrials).
We should harvest.

[2017-09-27 00:52] bwalsh opened #58 "jax: deprecate screen scraping, use published API"
Jackson lab has published an [API](https://ckb.jax.org:443/ckb-api).
We should deprecate screen scraping, use published API

[2017-09-27 00:55] bwalsh opened #59 "brca exchange"
Collect oncogenic info from BRCA Exchange expert reviewed variants: http://brcaexchange.org/variants?orderBy=Pathogenicity_expert&order=descending

Got some encouragement from D Haussler et al - VICC & BRCA exchange are both ga4gh driver projects

[2017-09-27 16:54] bwalsh commented on #59
I've made a preliminary draft of this implementation.   A few questions:
* mapping brca exchange's [clinical significance](http://brcaexchange.org/help#clinical-significance) to g2p's oncogenic
* determining g2p `evidence_label`?  These variant's have had 'expert review'.  Some have associated pubmed articles.  Leave evidence_lable null, or ... ?

see PR #60

[2017-10-13 18:54] bwalsh opened #65 "Create download solution for data_mutations_extended_1.0.1.txt"
https://github.com/ohsu-comp-bio/g2p-aggregator/pull/64/commits/8648ca5d170623fa32d658f7e3d6ca51a2774a7c#diff-3a2ba7b492f00029d14cec3994b73ac7R4

[2017-10-14 00:07] bwalsh commented on #27
Addressed by #66

[2017-10-14 00:07] #27 closed, assigned to nobody

[2017-10-16 19:05] bwalsh opened #68 "Variant normalization: e.g. Assembly identifier (GRC notation, e.g. `GRCh37`)"
I've been looking into adding a simple GA4GH beacon.
As part of that I discovered a new area for Harmonization - `reference genome`

* From ga4gh beacon:
https://github.com/ga4gh/beacon-team/blob/develop/src/main/resources/avro/beacon.avdl#L76

* What we have now
![image](https://user-images.githubusercontent.com/47808/31629235-030a4ef0-b281-11e7-84b2-862d464ab254.png)

References:
https://genome.

[2017-10-17 16:19] jgoecks commented on #68
@bwalsh @ahwagner Two suggestions:

1. Standardize on GRC naming conventions, namely GRCh37 and GRCh38
2. For all variant coordinates (start, stop), provide them in GRCh37. Time/priority permitting, add coordinates for GRCh38.

This is actually a big deal because GENIE called variants against GRCh37, so GRCh38 variants won't match and/or will yield spurious matches.

[2017-10-17 17:08] ahwagner commented on #68
Yeah, I agree with @jgoecks re: GRC naming conventions. For queries to the web app / API, we may want to consider either:
- infer the reference from submitted variants (hard)
- enforce selection of a reference at query (easy, but requires additional work from users)

...I prefer the easy route, as we'll have other tough tasks ahead of us.

[2017-10-17 18:59] malachig commented on #68
Should we consider using the Allele Registry to normalize incoming variants?

Then use that to represent variants various ways (build37 vs build38, genome level vs transcript level, refseq transcripts vs ensembl vs LRG transcripts, etc.)?

http://reg.clinicalgenome.org/

Here is an example variant allele returned by various approaches from the registry:
http://reg.clinicalgenome.org/redmine/projec

[2017-10-20 22:50] bwalsh commented on #68
@jgoecks @ahwagner :  refactored results

Note:  cgi is missing, I'm following up with David T

![image](https://user-images.githubusercontent.com/47808/31844289-96ee512e-b5ac-11e7-8667-d72903f3ae0c.png)

[2017-10-21 00:01] bwalsh commented on #68
+cgi
switched brca to 37

![image](https://user-images.githubusercontent.com/47808/31845662-1b84a2ac-b5b8-11e7-9475-abce96422f11.png)

[2017-10-31 00:34] bwalsh opened #69 "Technical input to VICC paper (draft notes)"
@jgoecks @mayfielg @ahwagner : See my notes below.  I simply wanted to capture them here and if it's appropriate, move them over to google docs.

-----
# G2P - Knowledgebase integration

## Abstract

### Background

The g2p-aggregator is a bioinformatics tool designed to integrate evidence from disparate datasources and and support interpretation, prioritization and report generation.  It is imple

[2017-10-31 15:26] bwalsh commented on #69
Follow up
From Malachi Griffith to Everyone: (08:11 AM)
VICC Paper Google Doc
https://docs.google.com/document/d/1_jA1B4G5YFo95rIwyDyc__Gx6uHfgU3FldMrF317fzU/edit
From Malachi Griffith to Everyone: (08:17 AM)
https://github.com/ohsu-comp-bio/g2p-aggregator/issues/69

[2017-11-01 20:36] bwalsh commented on #69
### Comments from call:

* chromosome name by source

* Breakdown of disease names per disease ontology.  Drug name per pubchem.

1119 Drugs, 898 unique pubchem identifiers

* Are there conflicts b/t knowledge bases e.g One categorizes as level A one says level B, etc.

* Does Rodrigo D's presentation make sense to include in paper?

* Phenotype & Environment - show examples of  no-doid, no-pubche

[2017-11-15 03:04] bwalsh commented on #69
Updated input to paper:

Done:
* Chromosome name by source
* Breakdown of disease names per disease ontology. Drug name per pubchem.
* Phenotype & Environment - show examples of no-doid, no-pubchem
* Additional knowledgebase `molecularmatch clinical trials`

In progress:
* Phenotype harmonization: molecularmatch clinical trials
* Allele registry

[2017-11-27 17:18] bwalsh opened #71 "Remove basic auth from g2-ohsu.ddns.net"
Current site requires userid & password.
Remove this requirement while maintaining readonly access

[2017-11-27 20:00] jgoecks opened #72 "Add TP53 website to aggregator"
The database is here:

https://p53.fr/

[UMD_variants_US-annotated.xlsx](https://github.com/ohsu-comp-bio/g2p-aggregator/files/1507405/UMD_variants_US-annotated.xlsx)

[2017-11-30 21:26] ahwagner opened #73 "Stable source / data release"
Hey @bwalsh. On Tuesday we discussed having a static data silo that we could draw upon for the paper figures. Any progress on this front?

Also, we should identify a source branch that our analyses will be based upon--there may be some merging that needs to take place here (@jgoecks I'd like your input on this as well).

Let me know if I can help out at all with setting this up, so that we can mov

[2017-11-30 22:24] bwalsh commented on #73
Hi @ahwagner

Here are my updates:

* g2p-test.ddns.net - Test site, removes basic auth. Addresses #71
* a s3 bucket with static elastic snapshots exists [here](https://s3.console.aws.amazon.com/s3/buckets/g2p-test-snapshots/?region=us-east-1&tab=overview).

* v0.7 is the latest and greatest.

* I've merged the various notebooks into ./notebooks.   I re-tested them before checking in.

I'm current

[2017-12-01 20:47] bwalsh commented on #73
# VERSION 0.7

This should be the 'frozen release'.   Anticipate any additional changes should be driven by paper analysis needs.

## location

_(I'll send email with bucket location)_

## contents

[code]

Each file is contains evidence documents from the respective source.
`all.json` contains the aggregations of all sources.

source | count
-- | --
molecularmatch_trials | 199,069
jax | 5,754
brc

[2017-12-01 21:17] jgoecks commented on #73
I'm not sure if we should have this discussion here, but I continue to believe that we should exclude trials associations from our analysis for the manuscript. I suggest (a) figuring out what to do about trial associations and then (b) setting up a functional ES/Kibana with a snapshot of the data that we will use for and link to in the manuscript.

[2017-12-02 01:27] bwalsh commented on #73
Sure, what ever makes sense.  As I recall, there was feedback from the last grant that we should include trials.

A quick glance shows that the trials sources are included automatically in the genie notebook.

![image](https://user-images.githubusercontent.com/47808/33510083-d35530a2-d6bc-11e7-9071-57d474e5fa4e.png)

[2017-12-02 01:35] bwalsh commented on #68
Here is the status for v0.7  (data freeze)
* all sources are enriched with feature information based on a constructed hgvs genomic location `g.`
* hit rates, per source are documented below

The enriched data is distilled into two fields feature.links and feature.synonyms.

For example for civic variant [EML4-ALK C1156Y](https://civic.genome.wustl.edu/events/genes/1/summary/variants/6/summary#vari

[2017-12-05 00:39] jgoecks commented on #73
I expect that new sources will just work with our analyses for the most part. Certainly clinical trials are valuable, but it may be a mistake to present clinical trials as sources in the paper. We may also want a separate database with only the knowledge base sources and not the trials data for the paper. @ahwagner This is probably worth discussing on the next paper call.

[2017-12-06 19:28] ahwagner commented on #73
I agree with @jgoecks, as this broadens the scope of the paper too much. Yeah, we should definitely discuss on Tuesday.

[2017-12-07 14:21] bwalsh opened #74 "GENIE analysis: in line figures"
I've made two small changes to the GENIE analysis figures
see
https://github.com/ohsu-comp-bio/g2p-aggregator/blob/v0.7/notebooks/GENIE_Analysis.ipynb

### stacked bars
### rotated x axis

[code]

![image](https://user-images.githubusercontent.com/47808/33719613-2728d032-db16-11e7-9eb3-bfc69f1a4a0c.png)

#### help needed
One challenge with the Genie notebook is that images are not persisted with t

[2017-12-15 01:23] bwalsh opened #76 "oncokb clinical sample files for GENIE notebook"
@mayfielg thanks. the code looks great.  trying to run GENIE notebook now.
where can I find the following files?  thanks.

![image](https://user-images.githubusercontent.com/47808/33980245-d9c9b990-e05c-11e7-999d-06b71a1567e5.png)

[2017-12-15 01:26] bwalsh commented on #76
Are these the source of the notebook files?
http://www.cbioportal.org/study?id=msk_impact_2017#summary
However, there is no data_mutations_extended.txt  there?

[2017-12-15 01:37] grmayfie commented on #76
Okay, yes, the reference from the OncoKB paper is http://www.cbioportal.org/study?id=msk_impact_2017#summary from the 'Download data' button.

@bwalsh

[2017-12-15 18:00] bwalsh commented on #76
@mayfielg
The notebook contains this line.
[code]
`data_mutations_extended.txt` is not in that down load

![image](https://user-images.githubusercontent.com/47808/34053869-4c3d5fec-e17d-11e7-982c-3bc96d9129a1.png)

The notebook is not reproducible:
For example, the checked in notebook has
![image](https://user-images.githubusercontent.com/47808/34053943-935ef57a-e17d-11e7-96be-6fe1d39d9117.png)
Wh

[2017-12-15 18:17] bwalsh commented on #76
I've created data/README.md - please add your updates

[2017-12-15 18:45] #71 closed, assigned to nobody

[2017-12-15 18:46] #68 closed, assigned to nobody

[2017-12-15 18:46] #65 closed, assigned to nobody

[2017-12-15 18:46] #59 closed, assigned to nobody

[2017-12-15 18:46] #58 closed, assigned to nobody

[2017-12-15 18:46] #57 closed, assigned to nobody

[2017-12-15 18:47] #1 closed

[2017-12-15 18:48] #3 closed

[2017-12-16 00:53] bwalsh opened #77 "biomarker type mapping"
re. biomarker_type

The biomarker_type list is legitimate as it comes directly from MM.  They report a set of biomarker types per variant.

The lack of a cna seems to be purposeful.

    # Note that 'CNA' is currently left out as it is relevant only in the case
    # of CGI and directed in for loop below.
[code]

biomarker_type
compared to fig D in https://www.biorxiv.org/content/biorxiv/early/201

[2017-12-16 01:12] bwalsh opened #78 "jax trials feature harmonization"
Following up on our conversation re.  jax trials.

Observations:
* It is unusual that all jax trials have harmonized features
* For example, all features on this evidence items have genomic location   (click to see detail)
![image](https://user-images.githubusercontent.com/47808/34065761-37e0bff2-e1ba-11e7-99af-0f6f10efbf5e.png)

I've checked in a test to illustrate the problem[ harvester/tests/in

[2017-12-16 01:31] bwalsh opened #79 "brca exchange "Pathogenicity_expert" filter"
The possible values:

"Benign / Little Clinical Significance"
"Likely benign"
**"Not Yet Reviewed"**
"Pathogenic"
"Uncertain"

We currently filter out ["Not Yet Reviewed"](http://brcaexchange.org/variants?search=Not%20yet%20reviewed&orderBy=Pathogenicity_expert&order=ascending).
We discussed removing that filter, can you confirm?

[2017-12-17 05:48] jgoecks commented on #78
The simplest approach is to bypass any normalization attempts if ```_parse_profile``` does not return any mutations. The key issue is that MM's API appears to return all mutations in a gene when given something like "MET amp", which is confusing and problematic in our case.

[2017-12-17 05:51] jgoecks commented on #79
@bwalsh That is my opinion. Happy to have @ahwagner @malachig and others chime in as well.

[2017-12-17 05:56] jgoecks commented on #77
@bwalsh Can you point me to this list on MM? I believe we can simplify this considerably; we could go down to 3 types (cnas, snps, and fusions) but I'd like to see ```type``` and ```subtype``` attributes ideally.

[2017-12-18 05:50] bwalsh commented on #77
@jgoecks  List of all known source biomarkers with current mapping.

I've also included a suggestion we look at sequenceontology https://bioportal.bioontology.org/ontologies/SO (in use by civic) .  This would allow us to harmonize on a known standard, reduce errors and reduce maintenance.

I've included a simple parent ontology.  This still produces a significant (44) number of categories. Additio

[2017-12-18 16:09] bwalsh commented on #78
@jgoecks

Quick clarification, mm does properly return `no mutations`

I've made the following change
[code]

#### jax and jax_trials feature_normalization went from 85%, 93% to 43%, 11% respectively

[2017-12-18 16:13] bwalsh commented on #79
@jgoecks

Made the change - brca now has 17,584 items ( was 5,715 )
One note:  unreviewed items do not have a phenotype

[code]

[2017-12-18 18:52] jgoecks commented on #78
Ah, so the issue was that the COSMIC lookup table was returning all mutations, not MM. Your change looks reasonable. Thanks!

[2017-12-18 23:37] bwalsh commented on #77
@jgoecks

Regarding simplifying this list.

* We can tell from the spreadsheet above that consolidating by biomarker.parent as a 'type' will not reduce the number of terms enough.
* The images below show the ontology ancestors of a few randomly selected biomarkers.
 You can browse them [here](http://www.sequenceontology.org/browser/current_svn)
* One alternative for consolidation is to pick the Nt

[2017-12-19 19:18] grmayfie commented on #76
Okay, so it looks like msk-impact has had a data update, which is why the files are different/named differently. I've updated the notebook to reflect the new filenames. It does affect the output of the analysis, but as a rough overview, increases the amount of 'A' and 'B' level data. Updates will be lumped into the open [PR](https://github.com/ohsu-comp-bio/g2p-aggregator/pull/80).

[2017-12-19 19:18] #76 closed, assigned to grmayfie

[2018-01-10 20:56] grmayfie commented on #79
@bwalsh I get slightly different results when I run this.
source:brca: 17,546
source:brca AND _exists_:association.phenotype.description: 5,791

Whereas g2p-test shows a slightly higher overall result from BRCA and a slightly lower count with phenotype association. Is this just related to when the harvest was run do you think?

Code looks good, just confused about number variation.

[2018-01-10 20:58] grmayfie commented on #78
@bwalsh When I run this test I see:

[code]
And then the test fails with
[code]
Based on the way this test is written, I think it really should be 3. Why did we have 0 before?

[2018-01-11 00:54] bwalsh commented on #79
I'll check g2p-test tomorrow ( there were snafus uploading to it )

[2018-01-11 00:57] bwalsh commented on #78
thanks, will check tomorrow

[2018-01-23 17:49] ahwagner commented on #79
Per the group discussion today, we're reversing course on this and should exclude "Not Yet Reviewed" variants.

[2018-01-23 17:57] ahwagner opened #83 "Add selection for clinical trials sources to Kibana interface"
For the paper we'll be focusing on our core variant interpretation/assertion sources, excluding clinical trial sources.

Consequently, we will need to develop an element in the Kibana interface that will allow users to toggle which databases the results will be sourced from.

[2018-01-25 22:21] bwalsh commented on #83
@ahwagner @mayfielg @jgoecks for your review...   addressed and deployed at https://g2p-test.ddns.net

![image](https://user-images.githubusercontent.com/47808/35415427-6862423c-01da-11e8-8838-b5502592ab81.png)

addressed in https://github.com/ohsu-comp-bio/g2p-aggregator/commit/ff8ed246be556124fffea826a2cfc1ffc35737c9

FYI:

The `custom ui` feature, when released will have a 'no trials/all trials

[2018-01-25 22:23] bwalsh commented on #79
@ahwagner @mayfielg @jgoecks for your review...   addressed and deployed at https://g2p-test.ddns.net

[2018-02-16 20:10] ahwagner opened #85 "VICC Beacon and RESTful API"
Our current VICC Beacon is non-compliant with the beacon swagger doc:

https://github.com/ga4gh/beacon-team/blob/develop/beacon.yaml

We'll need to perform the following changes:

- [ ] Collapse the 10 primary response objects into one response
- [ ] Aggregate and report the number of A/B/C/D interpretations in the `info` field
- [ ] Create a supplementary `search` endpoint that provides detailed

[2018-02-16 21:15] ahwagner opened #86 "Feature names inconsistent"
All records from BRCA exchange have a list under the `feature_names` attribute, other sources have a string or None object here. The list is never longer than one item, so I propose we fix the harvester to assign only string or None objects to the `feature_names` attribute.

Omitting the `review` label because this is a straightforward, quick fix.

[2018-02-16 23:12] ahwagner opened #88 "Add coordinates to genomic features"
Currently, 32% of our associations in 0.8 have no genomic coordinates assigned to at least one feature.

These fall into the following categories:

- [ ] Associations harvested from CGI all lack end coordinates, despite ~50% having start coordinates
- [ ] Associations describing protein changes and indels (e.g. `BRCA2 D806H` or `KIT W557_K558del` or `BRAF V487_P492delinsA` or `KIT S501_A502dup`) a

[2018-02-19 17:39] bwalsh commented on #88
@ahwagner @jgoecks @mayfielg - can we discuss these changes during Tuesday's call?

[2018-02-19 19:29] ahwagner commented on #88
@bwalsh sounds good.

[2018-02-19 19:51] sigven commented on #10
Hi,
This truly looks like a tremendous resource! Is there any progress on the API access? Is this related to another issue in development (#85)?

thanks,
Sigve

[2018-02-20 15:59] bwalsh commented on #88
## Notes:

----

Example:
[code]

Rule:

[code]
----

* Allele registry does not have a name lookup.
  * see  http://reg.clinicalgenome.org/redmine/projects/registry/genboree_registry/landing
  * ![image](https://user-images.githubusercontent.com/47808/36444990-adf3a83e-1631-11e8-92c0-7f74686b8ff9.png)

* How to verify cosmic lookup?

[2018-02-20 20:20] ahwagner opened #89 "UI Search Results"
Currently, searches of the type `Gene Variant` (e.g. `BRAF V600E`) do a global OR search between terms. Ideally, we could rename the `features.name` field to the mutation name (without the prepended gene symbol) and by default limit the search to a global AND condition.

Subtasks:
- [ ] remove prepended gene symbol in features.name, propogate changes to feature_names.keyword.
- [ ] change search b

[2018-02-20 21:51] bwalsh commented on #89
A challenge in doing this is that the original source often includes just a string with gene the feature name or feature type or protein name,etc.

Not pushing back on the idea, but may not be straightforward...

eg
![image](https://user-images.githubusercontent.com/47808/36451107-c6f0ecd0-1644-11e8-9369-ae302271a5d5.png)

[2018-02-21 15:52] bwalsh commented on #86
Can we combine this with https://github.com/ohsu-comp-bio/g2p-aggregator/issues/88 ?
( affects the same area of the code )

[2018-02-21 15:53] bwalsh commented on #89
Can we merge this with https://github.com/ohsu-comp-bio/g2p-aggregator/issues/88

[2018-02-21 23:36] bwalsh commented on #88
from #88

Currently, searches of the type Gene Variant (e.g. BRAF V600E) do a global OR search between terms. Ideally, we could rename the features.name field to the mutation name (without the prepended gene symbol) and by default limit the search to a global AND condition.

Subtasks:

 remove prepended gene symbol in features.name, propogate changes to feature_names.keyword.
 change search behavi

[2018-02-22 19:34] bwalsh commented on #86
done https://github.com/ohsu-comp-bio/g2p-aggregator/commit/2fd2e8e7da618c349f16302b769ac9b622481d28

[2018-02-22 22:51] bwalsh commented on #88
Using mygene.info and ensembl, we can look up gene location transcriptions fairly easily.
Issues:
* which transcription(s) to use?
* how does 'amplification' or 'loss' enter into the algorithm?

Example:

From cgi
[code]

Feature after current processing:
[code]

Experiment:
* query mygene.info
[code]

* using the ensembl id, formulate the location of the gene
[code]

* Transcripts are also availa

[2018-02-22 23:15] bwalsh commented on #88
![image](https://user-images.githubusercontent.com/47808/36569483-e1746cea-17e2-11e8-8930-2f1db41d9169.png)

A quick test shows this was a legitimate miss.
[code]

Reviewing all the 187 unique gene/protein items these are the only ones that have grep 'hits'
[code]

grep example:
[code]

unit test
[code]

@mayfielg, @jgoecks  - at least for these 4 examples, the identifiers exist, but are not being

[2018-02-22 23:22] ahwagner commented on #88
On selecting canonical transcripts (for GrCh37), while this is mentioned in the Ensembl [glossary](https://useast.ensembl.org/Help/Glossary?id=346), the only canonical transcripts I could find are those listed at UCSC. What follows are instructions for selecting those transcripts:

1. From [Ensembl Gene .gtf file](ftp://ftp.ensembl.org/pub/grch37/update/gtf/homo_sapiens/Homo_sapiens.GRCh37.87.gtf.

[2018-02-23 00:57] bwalsh commented on #88
Protein lookup via myvariant.info

### BRAF V600E example
[code]

### others from our "misses"
[code]

[code]

[2018-02-23 01:21] bwalsh commented on #88
@ahwagner : can you take a look at the output in this file.  It should correspond to the ppm_re 'found' items from your notebook.
[ppm_re.json.txt](https://github.com/ohsu-comp-bio/g2p-aggregator/files/1750154/ppm_re.json.txt)

[2018-02-23 01:23] bwalsh commented on #10
@sigven:
* thanks for your interest!
* api access is underway,
* yes is dup of #85

[2018-02-23 01:34] bwalsh commented on #88
## quick call to get gene location

[code]

[2018-02-27 15:02] bwalsh opened #92 "CGI: Some "Biomarker" fields need itemization"
For example:

`ABL1 (T315A,F317L,F317V,F317I,F317C,F317I,Y253H,E255K,E255V,F359V,F359C,F359I)`

### Currently single feature per record (location set to CGI provided location)

![image](https://user-images.githubusercontent.com/47808/36735725-ae5c5ae6-1b8b-11e8-912c-f818e70a7d81.png)

More detail from re. this example

The location information comes from CGI,

![image](https://user-images.githubus

[2018-02-27 15:03] bwalsh commented on #88
Related issue: https://github.com/ohsu-comp-bio/g2p-aggregator/issues/92

[2018-03-02 01:43] bwalsh commented on #89
Both of these changes were problematic:

... location misses / fusions etc are are somewhat illegible if gene name removed.
e.g.   "FGFR1-TACC1"

... this is possible, but may artificially constrain full text searches.  suggest further testing.

[2018-03-02 01:45] bwalsh commented on #89
Also,  re 'UI Search Results'  drug.toxicity has been remove from search index, since "liver" appears in many toxicity descriptions.

[2018-03-09 22:35] bwalsh opened #97 "Feature tagged by cgi as 'CNA', but biomarker_type set to 'nonsense'"
@mayfielg can you take look at this?  I think

![image](https://user-images.githubusercontent.com/47808/37233076-9fe022fe-23a6-11e8-8afa-25cf11667478.png)

![image](https://user-images.githubusercontent.com/47808/37233105-bafb7746-23a6-11e8-9f70-acb56683217b.png)

[2018-03-12 15:36] ahwagner commented on #88
@bwalsh the quick call you mentioned in https://github.com/ohsu-comp-bio/g2p-aggregator/issues/88#issuecomment-367881406 is sufficient to grab the coordinates for many of [the above sets](https://github.com/ohsu-comp-bio/g2p-aggregator/issues/88#issue-297948443). I have revised the requirements of these sets to take advantage of this API call, avoiding the difficulty of selecting a representative

[2018-03-12 19:46] grmayfie commented on #97
Hey @bwalsh, I can't seem to replicate this behavior. There was an issue where no biomarker type was showing up, which I've fixed, but nowhere can I see the biomarker type set to 'nonsense'. Where are you seeing this?

[2018-03-12 19:49] bwalsh commented on #88
Breakdown
* all molecularmatch 2085
* no feature_names associations 155
* no feature_names and no feature.start 13
* of those 13 associations without start [BRCA, PDGFR, PORCN, VEGF, VEGFR]
* of those 5 genes 4 have no hits with genomic_pos_hg19; 1 [PORCN] have multiple answers for genomic_pos_hg19

Next steps:
* @ahwagner:  can you confirm you are seeing the same?
* bwalsh: add code to handle `mu

[2018-03-12 19:54] ahwagner commented on #97
This was from the CGI source, and the associated key that contained the response data was remapped from `cgi` to `raw` in the notebook that @bwalsh took screenshots from.

So for an association from CGI, you'd want to examine:
`assocation['cgi']`

[2018-03-13 19:52] bwalsh commented on #97
I think, but have not yet confirmed, that it is being set here
https://github.com/ohsu-comp-bio/g2p-aggregator/blob/v0.9/harvester/feature_enricher.py#L113-L117

[2018-03-14 20:27] #10 closed

[2018-03-14 20:45] grmayfie commented on #55
Genomic location harmonization is now discussed in other issues, such as #88. Closing this issue as a duplicate.

[2018-03-14 20:45] #55 closed, assigned to nobody

[2018-03-14 20:52] #74 closed, assigned to nobody

[2018-03-14 20:56] #77 closed, assigned to grmayfie

[2018-03-14 21:10] #79 closed, assigned to jgoecks

[2018-03-14 21:15] grmayfie commented on #83
👍

[2018-03-14 21:15] #83 closed, assigned to bwalsh

[2018-03-14 21:17] #86 closed, assigned to bwalsh

[2018-03-20 20:09] grmayfie commented on #5
BW & GM: Deferred until feature interface design as a potential search parameter

[2018-03-20 20:11] #7 closed

[2018-03-20 20:12] grmayfie commented on #9
Potential new harmonization effort for diseases

[2018-03-20 20:13] #22 closed

[2018-03-20 20:14] grmayfie commented on #23
Closing, we have swagger API documentation.

[2018-03-20 20:14] #23 closed

[2018-03-20 20:15] grmayfie commented on #34
Have google analytics on kibana landing page.
Don't have ability to catch user's more focused searches.
Beacon API doe snot have analytics.

[2018-03-20 20:16] #69 closed, assigned to nobody

[2018-03-20 20:16] #73 closed, assigned to nobody

[2018-03-20 20:17] #78 closed, assigned to bwalsh, jgoecks, grmayfie

[2018-03-20 20:18] grmayfie commented on #85
@ahwagner Can we close? Please close if appropriate.

[2018-03-20 20:18] grmayfie commented on #88
@ahwagner Can we close? Please close if appropriate.

[2018-03-20 20:20] grmayfie commented on #89
@ahwagner Can we close? Please close if appropriate.

[2018-03-20 20:20] #92 closed, assigned to nobody

[2018-03-21 15:54] #89 closed, assigned to nobody

[2018-03-26 04:50] jgoecks commented on #5
@mayfielg @bwalsh I do not think we should defer this. Many evidence records in several databases have negative directions, and postive/negative direction has implications for analysis of TCGA and GENIE.

[2018-03-27 14:56] ahwagner opened #98 "pmkb interpretations are split"
currently, we split interpretations from PMKB into 1 association per feature. The interpretation, however, applies to all of the features collectively. When harvesting PMKB, we should create associations with multiple features, instead of multiple associations (that are largely duplicated) with one feature each.

[2018-03-27 16:08] ahwagner opened #99 "improper split of civic evidence features"
For EID (`feature_names`) == `EID1899` we split the gene name (HLA-C) into two gene names, assigning them to two features. It is the only multi-featured entry from CIViC.

[2018-03-28 19:37] ahwagner commented on #56
@mayfielg, @bwalsh was this ever implemented? Just need to know for the paper text--not required for analysis (would be omitted). I don't see any evidence of it in the harvester, but I wanted to double-check with you.

[2018-03-30 16:54] ahwagner commented on #99
![image](https://user-images.githubusercontent.com/811065/38145873-0e94250e-3411-11e8-8431-4de3c960b389.png)

[2018-03-31 16:40] jgoecks commented on #56
@ahwagner This seems necessary for the paper b/c it impacts coverage of CGI variants for TCGA and GENIE. Perhaps there's a misunderstanding? My understanding is that these are mutations to be linked to entries that have biomarkers such as "ALK oncogenic mutations"

[2018-04-02 18:05] bwalsh commented on #56
As Jeremy mentioned, we are brining in oncogenic mutations.  However, this dataset is separate.  It appears to an overlap from a variety of sources, including a significant overlap with OncoKB.

![image](https://user-images.githubusercontent.com/47808/38208383-bca1db68-3665-11e8-85ff-6b21b65d3672.png)

[2018-04-02 18:09] ahwagner commented on #56
@jgoecks @bwalsh I think there's a misunderstanding here--where in the codebase are we pulling them in? Are they part of the CGI data dumps on S3 we've been using? @bwalsh you mention this is a separate dataset--as in another .json file somewhere?

[2018-04-02 18:24] bwalsh commented on #56
We are pulling in oncogenic evidence from CGI here:
https://github.com/ohsu-comp-bio/g2p-aggregator/blob/v0.10/harvester/oncogenic_normalizer.py#L39

That data is part of the existing extruded json data.

Having said that, we are not bringing in the data at https://www.cancergenomeinterpreter.org/mutations,  that data appeared to be a separate dataset

[2018-04-02 18:51] ahwagner commented on #56
Gotcha. Thanks for the clarification. So the oncogenic data table is used to normalize clinical associations, but not imported separately, right?

On Apr 2, 2018 1:25 PM, Brian <notifications@github.com> wrote:

We are pulling in oncogenic evidence from CGI here:
https://github.com/ohsu-comp-bio/g2p-aggregator/blob/v0.10/harvester/oncogenic_normalizer.py#L39

That data is part of the existing extr

[2018-04-02 18:55] jgoecks commented on #56
@bwalsh @mayfielg how are we resolving the CGI entry "ALK oncogenic mutations" without this list of mutations?

[2018-04-02 21:36] bwalsh commented on #99
@ahwagner
Thanks for catching this.  My new version follows,  can you confirm and then I'll update the bucket

![image](https://user-images.githubusercontent.com/47808/38217405-1b7af4a4-3683-11e8-8293-1dbbbf7cf8e0.png)

[2018-04-02 23:27] bwalsh commented on #56
@jgoecks, @ahwagner :   I misspoke above (first day back from vacation).  We are handling this data, however the file seems to have been updated and renamed back on 20180216.   I'm re-importing it now & will check w/ @mayfielg  in the morning

[2018-04-03 21:08] ahwagner opened #102 "normalize genes"
We should incorporate gene normalization into our source harvesting.

Per discussion in #100, we should use the HGNC gene symbol file (ftp://ftp.ebi.ac.uk/pub/databases/genenames/new/json/non_alt_loci_set.json) to add Entrez Gene ID to each gene concept. We should also add Ensembl Gene ID. This file will already be in use for the improvements specified in #100.

[2018-04-03 21:22] ahwagner commented on #98
This is a low-priority task. It needs to be addressed before we publish, but I am already handling it (through an _ad hoc_ merging operation) in my analysis workbook.

[2018-04-03 22:21] ahwagner opened #103 "SOID parents misleading"
SOID terms contain sequence ontology root concept as "parent". Is this the intended behavior?

It looks like this was implemented by @mayfielg [here](https://github.com/ohsu-comp-bio/g2p-aggregator/commit/b7bc58682c8aec08693462e29125881f91df7fd9).

Example association below (`'soid': 'SO:0001019', 'parent_soid': 'SO:0000110'`. Expected `'parent_soid': 'SO:0000248'`)

[code]

[2018-04-04 16:23] ahwagner commented on #102
@bwalsh see https://github.com/ahwagner/g2p-aggregator/blob/v0.10/notebooks/paper_analysis/viccdb.py#L54-L96 for how I am currently handling this in my analysis.

[2018-04-09 22:10] grmayfie commented on #103
@ahwagner

Yes, in short, this is intended behavior. The 'heirarchy' field would show the id number you expect, as well as the rest of the tree to the root feature classification. The 'parent_soid' refers to the highest level of the tree, or the 'root' classification.

In general the behavior of the mutation classifier needs some cleaning in terms of now traversing the tree all the way to the root

[2018-04-09 22:16] grmayfie commented on #98
It looks like the same thing that's now been resolved for civic is happening for other sources though.

oncokb example:
![image](https://user-images.githubusercontent.com/16827611/38525880-dbfcf012-3c08-11e8-9066-2f9ba19dd8cb.png)

[2018-04-10 01:13] ahwagner commented on #103
Thank you for clarifying @mayfielg. We should change the field name to `root` or something similar then. I think that the atypical use of the term `parent` may be misleading here. Also, I agree that we will need to reconsider our strategy on comparing within and between ontologies. If there is time, I will bring the topic up in our VICC call tomorrow.

[2018-04-10 14:23] ahwagner commented on #98
Yes, this is the issue that was detected in #99.

[2018-04-10 14:24] ahwagner commented on #97
Another instance of this:
[code]

[2018-04-10 16:01] bwalsh commented on #97
@ahwagner :  can you double check?  This data appears prior to v0.10's provenance rules.
The data I have for this association is:

[code]

[2018-04-10 16:08] bwalsh commented on #102
@ahwagner
If agreeable,  I'll create a PR and refresh aws buckets later today with an additional field `gene_identifiers` that contains the symbol, entrez_id and ensembl_gene_id for each gene:

[code]

[2018-04-10 19:09] ahwagner commented on #102
Sounds good. My only remaining concern about the implementation is minor, and documented [here](https://github.com/ohsu-comp-bio/g2p-aggregator/pull/100#issuecomment-380213745). Ideally these changes could be incorporated in the new PR.

[2018-04-10 19:47] bwalsh commented on #102
Thanks.  I've added the following test
[code]

[2018-04-11 00:54] bwalsh commented on #97
Regarding the original item reported at the top of this thread, I believe we have resolved this.
The current feature is:
[code]

@ahwagner , @mayfielg : can we close this?

[2018-04-11 14:52] ahwagner commented on #97
Will review today.

[2018-04-16 05:37] ahwagner opened #105 "Jax CKB disease terms incorrect"
Currently, 87% of associations from Jax CKB have `DOID:162 - Cancer`. This isn't correct. Other resources are much more reasonable at 0-7%.

[2018-04-18 22:50] ahwagner commented on #105
On reloading with the most recent data release, this number is closer to 24%--I'm not sure why this changed so dramatically (possible error in my original query?), but it is still far above our other resources.

[2018-04-18 23:57] ahwagner opened #106 "some disease ontology ids incorrect"
Several ids that are listed as source `DOID` or `http://purl.obolibrary.org/obo/doid` have ids that start with `HP` or `UBERON`. First example did not have any evidence of the erroneous `HP` identifier in the source data, indicating that this is likely a harmonization problem. A large percentage (~10%) of CGI entries have this issue.

![image](https://user-images.githubusercontent.com/811065/38963

[2018-04-24 04:48] ahwagner opened #107 "enhance selection of multi-disease responses"
Right now we select only the first of the normalized diseases provided by a harvested interpretation. We should improve this by:

- Identifying if the diseases have an ancestral relationship
  - if so, select the most specific
  - if not, warn and select nearest common ancestor

[2018-04-24 16:16] bwalsh commented on #105
The following terms are mapped to the generic term `cancer`

[code]

[2018-04-24 16:27] bwalsh commented on #105
Regarding jax:

[code]

[2018-04-24 16:34] bwalsh commented on #105
That is 1330 out of 5754.

[code]

[2018-04-24 19:04] ahwagner commented on #105
These numbers are accurate per discussion with Sara Patterson at CKB. Resolving.

[2018-04-24 19:04] #105 closed, assigned to nobody

[2018-04-25 21:43] bwalsh opened #109 "Harvest feature's protein effects, domains and pathways"
Creating this issue as a placeholder for future discussion.

We have already done some of this work here on our local instance at OHSU.

As a researcher, in order to find more evidence for a particular allele, I would like the system to match by:
* protein effect
* protein domain
* pathway

Given a feature:

[code]

Given we already have the genomic location, our current process picks up with alle

[2018-04-26 01:25] bwalsh commented on #107
Agreed.  Currently the schema has phenotype as a single concept.  An enhancement would be to change it to phenotypes and store all conditions provided by the knowledge base

[2018-05-07 20:56] #97 closed, assigned to grmayfie

[2018-06-02 17:27] prismofeverything opened #112 "Cannot use disease_normalizer without setting BIOONTOLOGY_API_KEY"
When trying to import `harvester/disease_normalizer.py` I get the following error:

[code]

It would be ideal if the tool could be used even if I don't have a `BIOONTOLOGY_API_KEY`, as the code uses other sources to find matches as well.

[2018-06-02 17:31] prismofeverything opened #113 "Not all TCGA codes are resolved by calls to normalize()"
A number of TCGA disease codes were unable to be resolved using calls to `normalize()`:

[code]

List of codes I found unable to be resolved:

[code]

Note this is without the use of `BIOONTOLOGY_API_KEY`, which I'm not sure where to acquire. Does that API fill in the missing codes?

[2018-06-12 17:12] bwalsh commented on #113
Upcoming PR will resolve:

[code]

[2018-06-14 14:41] #113 closed, assigned to nobody

[2018-06-14 14:41] #112 closed, assigned to nobody

[2018-06-19 21:05] ahwagner opened #117 "PMKB harvester incorrect alternate allele representation"
Harvested features set coordinates to genomic but ref and alt to transcript (coding DNA). This has the effect of creating incorrect ref and alt for negative strand genes.

Bug is here:

https://github.com/ohsu-comp-bio/g2p-aggregator/blob/v0.10/harvester/pmkb.py#L57-L64

[2018-06-19 21:51] bwalsh commented on #117
Thanks @ahwagner
A detailed example below.  What should the expected results for ref and alt be?  (sorry if this an obvious question)

## example pmkb input

[code]

## applicable fields

[code]

## normalization results

[code]

## resulting association

[code]

[2018-06-19 22:06] ahwagner commented on #117
This is almost entirely correct. However, the issue starts with the `normalization results`. Here, we have:
[code]

when it should instead be:
[code]

Because `ref` and `alt` propagate (instead of being overwritten at normalization), the record is correct where normalized, but incorrect _specifically_ in the `ref` and `alt` fields. The reason for this error is that the specified `ref` and `alt` (p

[2018-06-19 22:32] bwalsh commented on #117
@ahwagner Thanks.
Given https://en.wikipedia.org/wiki/Complementary_DNA  is it too simplistic to simply swap them?

[code]

[2018-06-19 22:36] ahwagner commented on #117
This is too simplistic, unfortunately. For instance, instead of a simple SNV, it may be an insdel (such as V600D, CDS change: `1799_1800TG>AT`), or it may be a `+` strand gene (where `ref` and `alt` remain unchanged).

[2018-06-19 22:49] bwalsh commented on #117
Hmm.  The calculating the complement is straightforward enough, but how to reliably determine the strand of the gene (without transcript)?

[2018-06-20 02:49] ahwagner commented on #117
It looks like we do have a transcript ID from every PMKB association:

`association['features'][0]['attributes']['transcript']['string_value']`

We could use that plus the gene symbol (e.g. BRAF) to get the relevant info from biomart:

[code]

A value of `-1` is a minus strand gene, which would need ref and alt reverse complemented

Reverse complement is simply:
[code]

[2018-06-27 19:20] bwalsh commented on #117
{
  "provenance_rule": "from_source",
  "end": 140453136,
  "name": "BRAF V600E",
  "links": [
    "http://reg.genome.network/refseq/RS000031",
    "http://reg.genome.network/refseq/RS000055",
    "http://myvariant.info/v1/variant/chr7:g.140453136A>T?assembly=hg19",
    "http://gnomad.broadinstitute.org/variant/7-140453136-A-T",
    "http://myvariant.info/v1/variant/chr7:g.140753336A>T?assembly=hg

[2018-06-28 21:03] #107 closed, assigned to nobody

[2018-06-28 21:04] #106 closed, assigned to nobody

[2018-06-28 21:04] #103 closed, assigned to nobody

[2018-06-28 21:04] #102 closed, assigned to nobody

[2018-06-28 21:05] bwalsh commented on #99
@ahwagner : I think this has been resolved.  Can you confirm and close?

[2018-06-28 21:05] #98 closed, assigned to bwalsh, grmayfie

[2018-06-28 21:06] #85 closed, assigned to nobody

[2018-06-28 21:06] #56 closed, assigned to nobody

[2018-06-29 03:29] ahwagner commented on #99
The specific error is fixed with 109333a, but I think that this problem may appear again in the future (e.g. if we add an interpretation for A1BG-AS1, another HGNC gene symbol for a single gene; one of many) based on the logic used to fix it. I have proposed an alternate solution here:

https://github.com/ohsu-comp-bio/g2p-aggregator/commit/109333ae0c687b693eafc2b75487ff001d077ef9#r29539005

[2018-07-02 15:24] ahwagner opened #121 "Jax CKB add gene info"
Jax CKB has normalized gene info available from the source, which we should store/yield when calling `_get_gene_ids()` (https://github.com/ohsu-comp-bio/g2p-aggregator/blob/v0.10/harvester/jax.py#L115-L116) and append to corresponding evidence records.

[2018-07-02 18:11] ahwagner opened #122 "Fix directionality"
The following sources need to have their evidence directionality (`association.response_type.keyword`) updated.

**OncoKB:**
Loaded with "N/A". All associations are predictive of response unless otherwise indicated. See http://oncokb.org/#/levels for details.

**CIViC:**
Need to prepend the `evidence_direction` field to `evidence_type`, e.g. `Supports Sensitivity` instead of `Sensitivity`. Also, f

[2018-08-30 20:04] ahwagner opened #124 "Incorrect value provided for disease source field"
We are adding a source pointing to DO at some point, but not always recording a DOID as the ID if a pre-existing ID is present:

![image](https://user-images.githubusercontent.com/811065/44876136-c5806300-ac65-11e8-8556-143e49994f9c.png)

☝️ here we see a source of http://purl.obolibrary.org/obo/doid, but an HPO ID.

[2019-01-14 21:16] ahwagner opened #125 "intuitive search"
we need to restructure and/or better document the search functionality for users landing on the site. One potential option is to do de-emphasize (remove?) the free-text search bar, and preset a bunch of empty filters for the various components: drug, gene, variant, etc.

Another is to make clearer documentation and make it a clearer, more attractive starting point. My personal preference is for bo

[2019-01-15 18:17] ahwagner opened #126 "revisit civic evidence mapping"
Level A/B evidence with lower trust ratings may need to be downgraded in assigning to AMP/ASCO/CAP level. See http://civicdb.org/links/evidence/718

[2019-01-28 22:46] ahwagner opened #128 "add p. and g. descriptions to feature records"
From review:

[2019-01-28 22:47] ahwagner commented on #128
We should just add the g. and p. representations provided by clingen allele registry. Should sufficiently address.

[2019-02-01 01:57] bwalsh commented on #125
@ahwagner Please review - I'll make a public instance available for review, hopefully by 2/4

## Proposed changes

![image](https://user-images.githubusercontent.com/47808/52097424-d8ce8c00-257f-11e9-90ad-2a0f269e3cb8.png)

## Refactored search

Default operator now `and` was `or`

### Current

![image](https://user-images.githubusercontent.com/47808/52097637-ad986c80-2580-11e9-9941-60806ae8a3cf.p

[2019-02-01 16:26] ahwagner commented on #125
@bwalsh proposed changes look good to me.

[2019-02-04 16:38] ahwagner opened #129 "correctly harvest and normalize variants from Table 2"
Ensure that we are correctly normalizing the variants from Table 2 of the manuscript.

[2019-02-04 22:36] ahwagner commented on #129
Each of the records listed in Table 2 should normalize to the following Allele Registry amino-acid allele (`NP_004439.2:p.Ala772_Met775dup`):
http://reg.clinicalgenome.org/allele/PA123579

This allele is not linked to any genomic alleles, but is associated with two ClinVar records:
http://www.ncbi.nlm.nih.gov/clinvar/?term=28914[alleleid]
http://www.ncbi.nlm.nih.gov/clinvar/?term=54152[alleleid]

[2019-02-12 03:19] ahwagner commented on #125
Some additional changes we should implement:
- [x] ensure source_url field URLs are presented as hyperlinks
![image](https://user-images.githubusercontent.com/811065/52595966-c290bd80-2e14-11e9-8490-6b3b8254da4a.png)
- [x] point the `help documentation` hyperlink in the intro paragraph to [docs.cancervariants.org](docs.cancervariants.org).
- [x] add `brca` to the list of excluded sources on the pa

[2019-02-12 17:00] ahwagner commented on #125
@bwalsh added some feedback from our call today to this issue.

[2019-02-22 02:05] bwalsh commented on #125
@ahwagner

I've updated the staging site at 35.165.177.191.
The items checked off above have been addressed.
A new bucket with the data is available at https://s3-us-west-2.amazonaws.com/g2p-0.12/index.html
The `drop-down menu options` cannot be shortened.  However, I have ensured that a filtered short lable eg evidence_lable does filter the results.

Let me know your thoughts

![image](https://us

[2019-02-22 13:04] ahwagner commented on #129
#130 currently adds hgvs_p_suffix to features, but adds the 3-letter amino acid codes and does not unique them. This should be revised to include **both** 3-letter and 1-letter amino acid suffixes and remove duplicate entries.

[2019-02-22 13:08] ahwagner commented on #128
merging this issue with #129

[2019-02-22 13:08] #128 closed, assigned to ahwagner

[2019-02-22 22:09] ahwagner commented on #125
These changes all look good. It appears that the "response" column broke, however; even records containing response_type data lack content in the relabeled column.

[2019-02-25 18:56] bwalsh commented on #129
@ahwagner

I see where this can be corrected. https://github.com/ohsu-comp-bio/g2p-aggregator/blob/issue_129/harvester/location_normalizer.py#L353
becomes :

[code]

I see data with the 3 letter form e.g.

[code]

Is there an example of the one letter form?

ref
http://varnomen.hgvs.org/recommendations/protein/variant/substitution/

edited:
[code]

I'm not seeing any p.[A-Z][0-9]*[A-Z]  in synonym

[2019-02-25 21:19] ahwagner commented on #129
👍 on uniquing solution.

HGVS recommends [one- or three- letter forms](http://varnomen.hgvs.org/recommendations/general/) with a preference for three-letter (which we currently collect). As a consequence of this preference, their examples are all three-letter codes. However, physicians (and publications) often refer to these strings in one-letter codes (e.g. BRAF V600E, as opposed to Val600Glu). W

[2019-02-25 22:49] bwalsh commented on #129
Thank you.

Given:
[code]

Does the following make sense?

[code]

[2019-02-27 16:14] bwalsh commented on #129
@ahwagner  - I've finished re-harvesting and normalizing hgvs_g, hgvs_p.  Before I deploy to staging, any comments on the snippet above?

[2019-02-27 16:50] ahwagner commented on #129
@bwalsh, thanks for the tag. I must have missed the above comment in my email; I'll review within the hour and respond here.

[2019-02-27 17:07] ahwagner commented on #129
@bwalsh, this looks great to me. I would do a sanity check on the dataset before pushing to staging, e.g. search for `p.V600E`, `p.Y772_A775dup`. We should see many records (>50) of the first, and at least a few (>5) of the second.

[2019-02-27 18:19] bwalsh commented on #129
features.hgvs_p_suffix:"p.V600E"  ->  602 hits
features.hgvs_p_suffix:"p.Y772_A775dup" -> 0 hits
   "Y772_A775" is only found on three records, from molecular_match, in a
description field

On Wed, Feb 27, 2019 at 9:07 AM Alex H. Wagner, PhD <
notifications@github.com> wrote:

[2019-02-27 18:59] ahwagner commented on #129
Okay. The latter is a critical point for the review; let's deploy what we have to staging, and I'll do some more refinement and testing on my own to finish up the PR.

Thanks @bwalsh.

[2019-02-27 21:38] ahwagner commented on #125
@bwalsh did you have a chance to look at comment above?

[2019-02-27 22:06] bwalsh commented on #125
containing response_type data lack content in the relabeled column.

Yes, I resolved it.

On Wed, Feb 27, 2019 at 1:38 PM Alex H. Wagner, PhD <
notifications@github.com> wrote:

[2019-02-27 23:06] ahwagner commented on #125
Okay. I'm getting a weird error on my end–it looks like many of the columns are now broken, as is one of the interactive heatmaps.

![image](https://user-images.githubusercontent.com/811065/53529332-e2c9a900-3ab1-11e9-9195-331e6efa6173.png)

[2019-02-28 00:00] bwalsh commented on #125
I'm currently reloading it ... my bad, should have told you first
-Brian Walsh

On Wed, Feb 27, 2019 at 3:06 PM Alex H. Wagner, PhD <
notifications@github.com> wrote:

[2019-02-28 03:28] ahwagner commented on #125
Fantastic. I'm going to bump this to production for co-author review, with the caveat that the Table 2 p. normalization (this issue) isn't yet completed.

[2019-03-02 04:53] #125 closed, assigned to bwalsh

[2019-03-03 06:31] ahwagner commented on #125
Requests for JSON data from https://s3-us-west-2.amazonaws.com/g2p-0.12/index.html (e.g. https://s3-us-west-2.amazonaws.com/g2p-0.12/civic.json) return `Access Denied` errors. @bwalsh could you take a look at this?

[2019-03-03 18:05] bwalsh commented on #125
@ahwagner  fixed.  thanks for the catch

[2019-03-11 04:20] igodfinger opened #131 "static-html/_plugin/kibana/app/kibana 404 (Not Found)"
I host an instance, build and launch it by docker-compose, everything goes well but error shows up when I try to search something.
The error info: GET http://192.168.0.100:81/static-html/_plugin/kibana/app/kibana 404 (Not Found).
I did not find any configurations in the nginx_authorize_by_lua.conf about _plugin,  neither found any directories named _plugin。 the below is my docker-compose-dev.yml:

[2019-03-12 08:58] igodfinger commented on #131
v0.11 branch is used.

[2019-03-12 09:58] igodfinger opened #132 "where are the the indexs?"
I need to import everything.json to elastic via kibana when I first try to use it. I should create index pattern before that, but where are the indexs? I cannot create index pattern if no indexs. thank you very much.
I used the v0.11 .

[2019-03-15 11:10] #131 closed, assigned to nobody

[2019-03-18 01:13] #132 closed, assigned to nobody

[2019-03-18 12:51] igodfinger commented on #129
I downloaded all.json from https://s3-us-west-2.amazonaws.com/g2p-0.8, It does not work if import it into my ES via command: curl -XPOST "localhost:9200/associations/_bulk?pretty&refresh" --data-binary "@all.json"。 but I still search nothing after that,  Would you guys like to give some hints about what I should do? thank you.

[2019-03-18 14:47] bwalsh commented on #129
@igodfinger -  thanks so much for your interest.

* The site is now available at https://search.cancervariants.org.
* The data is available at https://s3-us-west-2.amazonaws.com/g2p-0.12/index.html (arn:aws:s3:::g2p-0.12)
* To upload the data into an elastic search instance, see https://github.com/ohsu-comp-bio/g2p-aggregator/blob/v0.12/util/elastic/put_index.py.  The commands necessary to create

[2019-03-19 01:53] igodfinger commented on #129
It goes well, thank you very much.  but some search results are different from the ones provided by website https://search.cancervariants.org.   for example, search BRCA1.  thank you again.

[2019-03-19 01:53] igodfinger commented on #129
It goes well, thank you very much. but some search results are different from the ones provided by website https://search.cancervariants.org. for example, search BRCA1. thank you again.

[2019-04-16 18:04] ahwagner opened #133 "schedule updates and provide "current dataset" downloads"
We currently do a manual versioned data release, and host downloads on Amazon buckets that maintain parity with the version of this repository (currently v0.12).

We should write an update script with some QC for content, and on passing these checks automatically update the search index.

@bwalsh thoughts?

[2019-04-26 18:20] #129 closed, assigned to ahwagner

[2019-05-07 14:53] cmouden opened #134 "api port issue during installation"
Hi,
I am trying to install g2p aggregator on Mac but I am not used to docker and elastic search.
I get the following issue when I try to launch the docker compose :

ERROR: The Compose file './docker-compose-aws.yml' is invalid because:
services.api.ports is invalid: Invalid port ":", should be [[remote_ip:]remote_port[-remote_port]:]port[/protocol]

How can I resolve that ?

Thanks,

Charlotte

[2019-05-07 22:33] ahwagner commented on #134
Hi @cmouden. Are you using [the instructions](https://github.com/ohsu-comp-bio/g2p-aggregator/blob/v0.12/README.md#docker) for starting up the docker container? It looks like this error might be caused by omitting the ELASTIC_PORT and KIBANA_PORT env variables. You may optionally set these globally in your environment.

[2019-05-08 16:52] dtrieke opened #135 "VICC-meta-knowledgebase /error/url-overflow bug on internet explorer"
/error/url-overflow appears in the search field, when I try to access the meta-knowledgebase from Internet explorer

[2019-05-08 18:44] ahwagner commented on #135
@dtrieke emailed the following snapshot of this error in Internet Explorer:

![error](https://user-images.githubusercontent.com/811065/57399698-63361580-7197-11e9-9760-2df49947524a.png)

[2019-05-09 07:35] cmouden commented on #134
Hi,

Thank you for your answer.
Actually these two variables are set, but it seems that the issue comes from the port for connecting the api to elastic :

(base) cmouden:g2p-aggregator cmouden$ docker-compose -f docker-compose-aws.yml up -d

WARNING: The API_PORT variable is not set. Defaulting to a blank string.

WARNING: The ES variable is not set. Defaulting to a blank string.

WARNING: The SWA

[2019-05-14 15:48] ahwagner opened #136 "quotes on single term changes search result"
`FGFR3-TACC3 "glioma"` has more hits than `FGFR3-TACC3 glioma`. These should be identical, right?

@bwalsh thoughts?

[2019-05-14 16:01] ahwagner opened #137 "Reset search"
People want an obvious way to "go to start" after a query (a "reset button").

We should consider adding this into our current interface.

[2019-05-14 16:03] ahwagner opened #138 "rename feature names from CIViC"
Feature names should be variant names, not EIDs.

[2019-05-17 00:51] ahwagner commented on #134
Hi Charlotte,

You mentioned that you're running this locally, on your mac? Assuming you've got docker installed and running on your local machine, you will want to use the standard docker-compose (not the aws / Amazon Web Services one):

[code]

Do you still get the same error when running the above command?

[2019-06-19 02:45] ahwagner opened #139 "DO issues for CGI mapping"
I've given disease matching in CGI a very thorough review. 100% of CGI interpretations have assigned, valid DOIDs. Unfortunately, this has minimal impact on the overall reduction when considering diseases. Ultimately, the reduction in matches for CGI boils down to 2 primary factors:

1. Degree of specificity between patient and interpretation is too great (e.g. interpretations with the disease att

[2019-06-22 16:46] #138 closed, assigned to nobody

[2020-02-24 21:18] medcelerate opened #143 "Unable to load data to local cluster using harvester"
We are attempting to launch our own instance of the meta-knowledgebase and are encountering issues loading data with the harvester. We successfully ran the make file however getting the errors below.

The first is a missing source parameter in the save_bulk for elastic search, we have modified our code to get past this error however now we are having issues with the data loader.
[code]

[2020-04-09 19:40] ahwagner opened #146 "Edge browser errors"
User report:

@bwalsh thoughts on how we might implement?

[2020-04-22 13:09] mgurley opened #147 "What is the relationsihp between the VICC Meta-Knowledgebase and the GA4GH Variation Representation Specification?"
Can/are the variants that are normalized across the knowledgebases all mapped to the GA4GH Variation Representation Specification?  A VR Computed Identifier.

[2020-04-22 13:27] ahwagner commented on #147
Hi @mgurley. Have you been getting my replies to your emails? Please check your spam, I am not sure why my messages are not getting through to you (from multiple accounts). Would be happy to meet up and discuss. Another mode of communication is Slack, you can join the [VICC Slack](https://ahw.pw/vicc-slack) and contact me there to set up a call.

[2020-04-22 13:28] #147 closed, assigned to nobody

[2020-05-05 17:48] ahwagner opened #148 "Adjust default from / offset value"
Our `associations` API endpoint defaults to a value of `1` for the `from` field, offsetting returned records (but leaving the total count unchanged).

We should change this default value to `0`.

Credit to user Giulia Sartini for discovering this bug.

[2020-07-10 17:58] ahwagner opened #149 "Internet Explorer 11 failure"
We had a user report that IE 11 does not load the page correctly. This was the reported version in use:

![ie11](https://user-images.githubusercontent.com/811065/87184085-5a6a3380-c2b5-11ea-8db7-7d03f0ae4461.jpg)

Testing on the same system with Microsoft Edge loaded the page as intended.